body {
  background-color: rgba(255, 166, 0, 0.625);
}
a {
  color: black;
  text-decoration: none;
}
.heading-title {
  text-align: center;
  color: white;
  background-color: rgb(72, 71, 71);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12%;
  padding-right: 7.5%;
}

.flex > div {
  background-color: greenyellow;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}
.flex > a > div {
  background-color: greenyellow;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}
.flex > a > div:hover {
  background-color: rgb(65, 203, 27);
}
.google {
  background-color: red;
}
